@charset "utf-8";

#main {
	margin: 150px auto;
	width: 1400px;
	display: flex;
	flex: 1 1 calc(20% - 30px);
	flex-wrap: wrap;
	gap: 60px;
}

#innermain {
	cursor: pointer;
	text-decoration: none;
	font-size: 30px;
	text-decoration: none;
}

#innermain:hover {
	opacity: 0.7;
}

#name {
	font-weight: bold;
	color: #333;
	font-size: 28px;
	margin-top: -20px;
}

#name2 {
	color: var(--color-mediumaquamarine);
	font-size: 30px;
	margin-top: -30px;
}

#img {
	border: 1px solid #333;
	width: 300px;
	height: 300px;
}

#banner {
	display: flex;
	justify-content: center;
}