<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaBoard">

    <insert id="insertQna" parameterType="catshap.butler.bean.QnaBoard">
        <selectKey keyProperty="qnano" order="BEFORE" resultType="int">
            SELECT seq_qnano.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO QNA (QNANO, USERNO, PRODNO, QNACATNO, QNATITLE, QNATEXT, QNAREGDATE, QNAUPDATE, QSORT)
        VALUES (#{qnano}, #{userno}, #{prodno}, #{qnacatno}, #{qnatitle}, #{qnatext}, #{qnaregdate}, #{qnaupdate,jdbcType=TIMESTAMP}, #{qsort})
    </insert>
    
    <insert id="registQnaBoard" parameterType="catshap.butler.bean.QnaBoard">
        insert into qna(qnano, userno, prodno, qnacatno, qnatitle, qnatext, qnaregdate, qnaupdate)
        values(seq_qnano.nextval, #{userno}, #{prodno}, #{qnacatno}, #{qnatitle}, #{qnatext}, sysdate, sysdate)
    </insert>

   <select id="selectQnaBoard" parameterType="catshap.butler.bean.Search" resultType="catshap.butler.bean.QnaBoard">
       SELECT q.*, u.uname , pi.PRODIMGPATH
       FROM 
          qna q
       JOIN users u ON q.userno = u.userno
       JOIN PRODUCT p on q.prodno = p.prodno
       JOIN PRODIMAGE pi ON q.PRODNO = pi.PRODNO
       WHERE 
          1 = 1
       <if test="qnacatno != null and qnacatno != ''">
           AND q.qnacatno = #{qnacatno}
       </if>
       <if test="searchKeyword != null and searchKeyword != ''">
           <choose>
               <when test="searchKeyword == 'qnatitle'">
                   AND q.qnatitle LIKE '%' || COALESCE(#{searchValue}, '') || '%'
               </when>
               <when test="searchKeyword == 'qnatext'">
                   AND q.qnatext LIKE '%' || COALESCE(#{searchValue}, '') || '%'
               </when>
               <otherwise>
                   AND (q.qnatitle LIKE '%' || COALESCE(#{searchValue}, '') || '%' OR q.qnatext LIKE '%' || COALESCE(#{searchValue}, '') || '%')
               </otherwise>
           </choose>
       </if>
       ORDER BY q.qnano DESC
   </select>

    <select id="getQnaBoard" parameterType="int" resultType="catshap.butler.bean.QnaBoard">    
        SELECT * 
        FROM QNA 
        WHERE QNANO = #{qnano}        
    </select>

    <update id="updateQnaBoard" parameterType="catshap.butler.bean.QnaBoard">
        UPDATE QNA
        SET QNATITLE = #{qnatitle},
            QNATEXT = #{qnatext},
            QNAUPDATE = CURRENT_TIMESTAMP
        WHERE QNANO = #{qnano}
    </update>

    <delete id="deleteQnaBoard" parameterType="int">
        DELETE FROM QNA 
        WHERE QNANO = #{qnano}
    </delete>
    
     <select id="getUserByUserNo" parameterType="int" resultType="catshap.butler.bean.Users">
       SELECT UNAME
       FROM users
       WHERE userno = #{userno}
   </select>

</mapper>